.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 0.8rem;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  white-space: nowrap;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

[class^="bullet-"],
[class*=" bullet-"] {
  font-size: 1rem;
}

.bullet-gun {
  opacity: 70%;
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0 !important;
  padding: 10px 10px 10px 60px;
  background-image: linear-gradient(180deg, #1b2530 0, rgba(27, 37, 48, 0.85));
}

.bullet-control-sm {
  margin-right: 0rem;
}

.submit-button {
  display: none;
}

input[type="range"].bullet-control-sm {
  height: 0.5rem;
  width: 55px;
  margin-top: 0.5rem;
  background-color: grey;
}

input[type="text"].bullet-control {
  width: fit-content;
  background-color: grey;
}

input[type="color"].bullet-control-sm {
  height: 24px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.bullet-control-row {
  margin-bottom: 0.2rem;
  margin-left: -50px;
}

.bullet-control-row + * {
  margin-bottom: 0.2rem;
  margin-left: -40px;
}

.bullet-history-box {
  margin-bottom: 0.2rem;
  margin-left: -40px;
}

.bullet-history-box + * {
  margin-bottom: 0.2rem;
  margin-left: -40px;
}

.bullet-open-advanced {
  width: 28px;
  height: auto;
  margin-left: -50px;
  margin-bottom: -10px;
}

.bullet-open-advanced + * {
  margin-left: -40px;
}

.bullet-open-history {
  width: 28px;
  height: auto;
  margin-bottom: -12px;
  margin-left: -18px;
  margin-right: 5px;
}

.bullet-open-history + * {
  margin-left: -16px;
}

.bullet-advanced {
  display: none;
}

.bullet-history {
  display: none;
}

h4 {
  color: #ffffff;
  font-size: 18px;
  line-height: 0;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: -10px;
}

#historyLine {
  color: #ffffff;
  text-align: left;
  width: 100%;
  height: auto;
  font-size: 16px;
  margin-left: -10px;
  margin-top: 3px;
}
